<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间是对应接口的包名+类名 -->
<mapper namespace="com.YNLH.park.dao.mapper.ParkMapper">
    <!-- paramerType：java自定义类型或数据类型-->
    
    <insert id="addPlateNumber"  parameterType="registerPlateNumber">
        insert into RegisterPlateNumber(pid,uid,plateNumber) values (NULL,#{uid},#{plateNumber})
    </insert>
    
     <select id="listRegisterPlateNumber" resultType="RegisterPlateNumber">
          select * from RegisterPlateNumber where RegisterPlateNumber.uid = #{uid}
    </select>
    
    <select id="findRegisterPlateNumber" resultType="RegisterPlateNumber">
          select * from RegisterPlateNumber where RegisterPlateNumber.plateNumber = #{plateNumber}
    </select>
    
    <insert id="makeReservation" keyProperty="rid" useGeneratedKeys="true" parameterType="Reservation">
        insert into Reservation(rid,uid,rStartDate,rEndDate,plateNumber,parkNumber) values (NULL,#{uid},#{rStartDate},#{rEndDate},#{plateNumber},#{parkNumber})
    </insert>
    
    <select id="listReservation" resultType="Reservation">
          select * from Reservation where Reservation.uid = #{uid}
    </select>
    	
     <select id="findReservation" resultType="Reservation">
          select * from Reservation where Reservation.rid = #{rid}
    </select>
    
    <select id="findReservationByPlateNumber" resultType="Reservation">
         select * from Reservation where Reservation.plateNumber = #{plateNumber}
    </select>
    
    <delete id = "cancelReservation" >
    	delete from Reservation where Reservation.rid = #{rid}
    </delete>
    
    <!-- liwen 3/17: bill management -->
    <insert id="addRegisterBill" keyProperty="bid" useGeneratedKeys="true" parameterType="RegisterBill">
        insert into RegisterBill(bid, uid, rid, status, fee, plateNumber, parkNumber, entryTime) values (NULL, #{uid}, #{rid}, #{status}, #{fee}, #{plateNumber}, #{parkNumber}, #{entryTime})
    </insert>
    
    <select id="completeBill">
          update RegisterBill set RegisterBill.status=1, RegisterBill.exitTime=#{exitTime}, RegisterBill.fee=#{fee} where RegisterBill.bid=#{bid}
    </select>
    
    <select id="payBill">
          update RegisterBill set RegisterBill.status=2 where RegisterBill.bid=#{bid}
    </select>
    
    <select id="findBill" resultType="RegisterBill">
          select * from RegisterBill where RegisterBill.bid = #{bid}
    </select>
    
    <select id="setExitTime">
          update RegisterBill set RegisterBill.exitTime=#{exitTime} where RegisterBill.bid=#{bid}
    </select>
    
    <select id="listRegisterBill" resultType="RegisterBill">
          select * from RegisterBill where RegisterBill.uid = #{uid}
    </select>
    
    <select id="findActiveBill" resultType="RegisterBill">
          select * from RegisterBill where RegisterBill.plateNumber = #{plateNumber} and RegisterBill.status = 0
    </select>
    
    <delete id = "deleteRegisterBill" >
    	delete from RegisterBill where RegisterBill.rid = #{rid}
    </delete>
    
    <!-- liwen 3/17: Parking Space management -->
    <select id="allotParking" resultType="ParkingSpace">
          select * from ParkingSpace where ParkingSpace.status=0 limit 1;
    </select>
    
        <select id="findParking" resultType="ParkingSpace">
          select * from ParkingSpace where ParkingSpace.parkNumber=#{parkNumber};
    </select>
    
    <update id="updateParking">
          update ParkingSpace set ParkingSpace.status=#{status} where ParkingSpace.level = #{level} and ParkingSpace.parkNumber = #{parkNumber}
    </update>
    
    <select id="getIdleParking" resultType="ParkingSpace">
          select * from ParkingSpace where ParkingSpace.status = 0
    </select>
    
    

   
</mapper>