<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间是对应接口的包名+类名 -->
<mapper namespace="com.YNLH.park.dao.mapper.UserMapper">
    <!-- paramerType：java自定义类型或数据类型-->
    <insert id="registerUser" parameterType="User">
        insert into User(uid,account,password,name,email,phone) values (NULL,#{account},#{password},#{name},#{email},#{phone})
    </insert>
    <select id="findUserById" resultType="User">
          select * from User where User.uid = #{uid}
    </select>
    <select id="findUser" resultType="User">
          select * from User where User.account = #{account}
    </select>
    <select id="login" resultType="User">
          select * from User where (User.account =#{account} and User.password = #{password})
    </select>
    
</mapper>