<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<!-- 注解所在的包， 扫描service路径 -->
	<context:component-scan
		base-package="com.YNLH.park.service" />
	<!-- 引入jdbc.properties -->
	<context:property-placeholder
		location="classpath:jdbc.properties" ignore-unresolvable="true" />
	<!-- 配置一个数据源，用下dbcp连接池 -->
	<bean id="jdbcDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<!-- 用的mysql数据库，连接到数据库mydb（自己新建） -->
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<!-- 用户名密码，根据本地数据库自定义 -->
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定数据源 -->
        <property name="dataSource" ref="jdbcDataSource" />
        <!--类型别名包，引入com.lmei.ssm.entity下的所有类 -->
        <property name="typeAliasesPackage" value="com.YNLH.park.dao"></property>
        <!--指定sql映射xml文件的路径 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>
        <!--自动扫描映射接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定sql会话工厂，在上面配置过的 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!-- 指定基础包，即自动扫描com.lmei.ssm.dao这个包下的所有接口类 -->
        <property name="basePackage" value="com.YNLH.park.dao"></property>
    </bean>
     <!-- 创建一个sqlSession对象 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    <context:component-scan base-package="com.YNLH.park.dao">
        <context:exclude-filter type="aspectj" expression="com.YNLH.park.dao.mapper.*"/>
    </context:component-scan>
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
</beans>